#register-scene {
  overflow: hidden;
}

#register-scene > div {
  min-height: 100vh;
}

#register-scene .register-splash-container {
  height: 100%;
  background-image: url("../../media/images/thought-catalog-unsplash.jpg");
  background-size: cover;
  background-position: bottom center;
}

#register-scene .register-splash-container .splash-overlay {
  background: transparent
    linear-gradient(
      320deg,
      #ae4a70 0%,
      #995a97e0 21%,
      #736daf99 42%,
      #417db686 62%,
      #0688ac38 81%,
      #1d8f9915 100%
    )
    0% 0% no-repeat padding-box;
  height: 100%;
  padding: 4em 4em;
}

#register-scene .register-splash-container .splash-overlay .splash-description {
  font-family: "Roboto Slab";
  font-weight: bold;
}

#register-scene .register-detail-top {
  position: absolute;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

#register-scene .register-detail-top .dt-1 {
  position: relative;
  top: -12em;
  left: -5em;
}

#register-scene .register-detail-top .dt-2 {
  position: relative;
  top: -8em;
  left: -15em;
}

#register-scene .register-detail-bottom {
  position: absolute;
  overflow: hidden;
  z-index: 0;
  bottom: 0;
  right: 50%;
  pointer-events: none;
}

#register-scene .register-detail-bottom .dt-1 {
  position: relative;
  bottom: -10em;
  right: -12em;
  rotate: 180deg;
}

#register-scene .register-detail-bottom .dt-2 {
  position: relative;
  bottom: -13em;
  right: 0em;
  rotate: 180deg;
}

#register-scene .register-container * {
  z-index: 1;
  transition: all 0.2s;
}

@media (min-width: 1200px) {
  #register-scene .register-container {
    padding: 2em 12em;
  }
}

@media (max-width: 1199.98px) {
  #register-scene .register-container {
    padding: 2em 8em;
  }

  #register-scene > div {
    min-height: 100vh;
  }

  #register-scene {
    overflow: auto;
  }
}

@media (max-width: 991.98px) {
  #register-scene .register-container {
    padding: 2em 6em;
  }
}

@media (max-width: 767.98px) {
  #register-scene .register-container {
    padding: 2em 4em;
  }

  #register-scene .register-splash-container {
    min-height: 40vh;
  }

  #register-scene .register-splash-container .splash-overlay {
    height: 100%;
    padding: 2em 2em;
  }

  #register-scene .register-splash-container .splash-overlay .splash-description h2 {
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 1.55em;
  }
}
@media (max-width: 575.98px) {
  #register-scene .register-container {
    padding: 2em 3em;
  }

  #register-scene .register-splash-container .splash-overlay .splash-description h2 {
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 1.2em;
  }
}
